<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Add a weapon", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>
    </div>
  </div>
</div>

<div class="banner banner-homepage" style="background: url('images/banner_picture.jpg')">
  <div class="container">
    <h1 class="text-center">Air pas Soft</h1>
    <p class="text-center">Parce qu'il est difficile de survivre sans arme.</p>
    <div class="mx-auto" style="width: 170px;">
    <%= link_to "Book a weapon", "#", class: "btn btn-flat btn-homepage" %>
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row">
    <h2 class="pb-4 text-center">Types of weapons</h2>
      <div class="cards cards-homepage">
        <div class="card-category card-category-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/originals/15/4a/83/154a83ed48ed5271a9f957ac5a1bdc48.jpg)">
          Hunting
        </div>

        <div class="card-category card-category-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/originals/44/a6/5a/44a65a983dac0c1e29283aee1eb33745.jpg)">
          Attack
        </div>

        <div class="card-category card-category-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://geekprepper.com/wp-content/uploads/2013/02/Best-Weapons-To-Have-In-A-Zombie-Apocalypse-1.png)">
          Defense
        </div>

        <div class="card-category card-category-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.renderhub.com/dereza/medieval-pillory-torture/medieval-pillory-torture.jpg)">
          Torture
        </div>

        <div class="card-category card-category-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdnb.artstation.com/p/assets/images/images/006/810/963/large/max-uho-ushakov-cagehuman1.jpg?1501442691)">
          Trap
        </div>
      </div>
    </div>
</div>

<div class="container py-5">
  <h2 class="pb-4 text-center">Who are we ?</h2>
  <p class="text-center">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure</p>
</div>

<div class="container py-5">
  <h2 class="pb-4 text-center">Weapons available in CITY</h2>
</div>

<div class="footer footer-homepage">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
