<div class="banner banner-homepage">
  <div class="container">
    <h1 class="text-center h1-homepage">Air pas Soft</h1>
    <p class="text-center text-banner-homepage"> <strong> Because it's now difficult to survive without a trustfull weapon </strong> </p>
    <div class="mx-auto" style="width: 170px;">
    <%= link_to "Book a weapon", "/weapons", class: "btn btn-flat btn-homepage" %>
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row">
    <h2 class="pb-4 text-center"> Have a look at our categories  </h2>
      <div class="cards cards-homepage">
        <%= link_to weapons_path  do %>
          <div class="card-category card-category-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/originals/15/4a/83/154a83ed48ed5271a9f957ac5a1bdc48.jpg)">
            Hunting
          </div>
        <% end %>
        <%= link_to weapons_path  do %>
          <div class="card-category card-category-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/originals/44/a6/5a/44a65a983dac0c1e29283aee1eb33745.jpg)">
            Attack
          </div>
        <% end %>

        <%= link_to weapons_path  do %>
          <div class="card-category card-category-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.artpal.com/150761/30-20-10-19-11-20-5m.jpg)">
            Defense
          </div>
        <% end %>

        <%= link_to weapons_path  do %>
          <div class="card-category card-category-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.renderhub.com/dereza/medieval-pillory-torture/medieval-pillory-torture.jpg)">
            Torture
          </div>
        <% end %>

        <%= link_to weapons_path  do %>
          <div class="card-category card-category-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdnb.artstation.com/p/assets/images/images/006/810/963/large/max-uho-ushakov-cagehuman1.jpg?1501442691)">
            Trap
          </div>
        <% end %>
      </div>
    </div>
</div>

<div class="container py-5 container-centered-homepage">
  <h2 class="pb-4 text-center">Who are we ?</h2>
  <p class="text-center">Welcome to Air pas Soft online store, the most successful online retailers. Spear, arbalets, bow, bombs... Find a weapon depending on your location !</p>
</div>

<div class="container pb-5">
  <h2 class="pb-4 text-center">Weapons available</h2>
    <ul class="pagination justify-content-center pb-3">
      <div class="card card-weapons-available" style="width: 18rem;">
        <img class="card-img-top" src="http://res.cloudinary.com/drb37tawz/image/upload/c_fill,h_200,w_200/v1/development/dhuwlljk2oie1vx0t10rfx8gg142" alt="Card image cap">
        <div class="card-body">
          <h3 class="h2-poppins text-center">Katana</h3>
          <p class="card-text text-center">A curved, single-edged sword with a circular or squared guard and a long grip.</p>
        </div>
      </div>

      <div class="card card-weapons-available" style="width: 18rem;">
        <img class="card-img-top" src="http://res.cloudinary.com/drb37tawz/image/upload/c_fill/v1/development/9lwbliik7jj096xcugq3n6m0norm" alt="Card image cap">
        <div class="card-body">
          <h3 class="h2-poppins text-center">Crossbow</h3>
          <p class="card-text text-center">A ranged weapon similar to a crossbow, consisting of a bow-like assembly mounted on a stock.</p>
        </div>
      </div>

      <div class="card card-weapons-available" style="width: 18rem;">
        <img class="card-img-top " src="http://res.cloudinary.com/drb37tawz/image/upload/c_fill,h_200,w_200/v1/development/1qs9wm65m4npd1komog9suu9mp4a" alt="Card image cap">
        <div class="card-body">
          <h3 class="h2-poppins text-center">Chinese Nunchaku</h3>
          <p class="card-text text-center">Two short sticks connected by a chain or rope.</p>
        </div>
      </div>
    </ul>
   <div class="mx-auto" style="width: 170px;">
    <%= link_to "Book a weapon", "/weapons", class: "btn btn-flat btn-homepage" %>
    </div>
</div>
