<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Add a weapon", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>
    </div>
  </div>
</div>

<div class="banner banner-homepage" style="background: url('images/banner_picture.jpg')">
  <div class="container">
    <h1 class="text-center">Air pas Soft</h1>
    <p class="text-center">Because it's difficult to survive without a weapon.</p>
    <div class="mx-auto" style="width: 170px;">
    <%= link_to "Book a weapon", "#", class: "btn btn-flat btn-homepage" %>
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row">
    <h2 class="pb-4 text-center">Types of weapons</h2>
      <div class="cards cards-homepage">
        <div class="card-category card-category-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/originals/15/4a/83/154a83ed48ed5271a9f957ac5a1bdc48.jpg)">
          Hunting
        </div>

        <div class="card-category card-category-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/originals/44/a6/5a/44a65a983dac0c1e29283aee1eb33745.jpg)">
          Attack
        </div>

        <div class="card-category card-category-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://geekprepper.com/wp-content/uploads/2013/02/Best-Weapons-To-Have-In-A-Zombie-Apocalypse-1.png)">
          Defense
        </div>

        <div class="card-category card-category-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.renderhub.com/dereza/medieval-pillory-torture/medieval-pillory-torture.jpg)">
          Torture
        </div>

        <div class="card-category card-category-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdnb.artstation.com/p/assets/images/images/006/810/963/large/max-uho-ushakov-cagehuman1.jpg?1501442691)">
          Trap
        </div>
      </div>
    </div>
</div>

<div class="container py-5">
  <h2 class="pb-4 text-center">Who are we ?</h2>
  <p class="text-center">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. </p>
</div>

<div class="container py-5">
  <h2 class="pb-4 text-center">Weapons available</h2>
    <ul class="pagination justify-content-center pb-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h3 class="text-center">Weapon 1</h3>
          <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h3 class="text-center">Weapon 2</h3>
          <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top " src="..." alt="Card image cap">
        <div class="card-body">
          <h3 class="text-center">Weapon 3</h3>
          <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </ul>
   <div class="mx-auto" style="width: 170px;">
    <%= link_to "Book a weapon", "#", class: "btn btn-flat btn-homepage" %>
    </div>
</div>
