

<div class="container">
  <h1>All our weapons availables : </h1>
  <div class="row mt-5">
    <div class="col-4">

    <ul> <% @weapons.each do |weapon| %>
      <%# <% if weapon.category == category %>

      <li>
         <%= link_to weapon.name, weapon_path(weapon) %> -
        <%= weapon.name %> - Owner :  <%= weapon.owner.username %>

          <%= cl_image_tag weapon.photo.key, width: 200, height: 200, crop: :fill %>

      </li>

  <div class="card-weapon">
    <% if weapon.photo.attached? %>
      <%= cl_image_tag weapon.photo.key, crop: :fill %>
    <% else %>
      <%= cl_image_tag("racphw8y1wvw9fv9s4lc.jpeg", width: 200, height: 200, crop: :fill) %>
    <% end %>
    <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" /> %>
  <div class="card-weapon-infos">
    <div>
      <h2> <%= weapon.name %> </h2>
      <p> <%= weapon.details %></p>
    </div>
    <h2 class="card-weapon-pricing"><%= weapon.price %> €/day</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-weapon-user avatar-bordered" />
  </div>
</div>

    <% end %>
    </ul>

  <%# <button> %>
    <%= link_to "Back to Homepage", root_path, class: "btn btn-primary" %>
  <%# </button> %>
</div>
