<div class="container pt-4 pb-5">
	<div class="col weapon-info pb-4">
		<h1><%= @weapon.name %></h1>
		<p>
			<%= @weapon.origin_country %>
			 -
			<%= @weapon.era_of_use %>
		</p>
	</div>
	<div class="row">
		<div class="col me-5">
			<div class="border-rounded pb-5">
				<%= cl_image_tag @weapon.photo.key, width:800, height:400, crop: :fill %>
			</div>
			<div class="pb-5">
				<h2 class="card-header pb-3 h2-poppins">Weapon details</h2>
				<p class="pb-4">
					<%= @weapon.details %>
				</p>
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><i class="fa-solid fa-magnifying-glass" style="color: #bdae6d;"></i><%= @weapon.characteristics %></li>
					<li class="list-group-item"><i class="fa-solid fa-burst" style="color: #bdae6d;"></i><%= @weapon.category%></li>
					<li class="list-group-item"><i class="fa-solid fa-hammer" style="color: #bdae6d;"></i><%= @weapon.weapon_type%></li>
					<li class="list-group-item "><i class="fa-sharp fa-solid fa-droplet" style="color: #bdae6d;"></i>Effectiveness : <%= @weapon.efficiency_rate%>/10</li>
				</ul>
			</div>
			<hr>
			<div class="flex-container py-2">
        <div>
          <h2 class="h2-poppins">
            From
            <%= @weapon.owner.username %>
          </h2>
          <p><%= @weapon.owner.biographie %></p>
        </div>
				<div class="col-1">
					<p class="img-owner-weapon">
						<%= cl_image_tag @weapon.owner.photo.key, width: 50, height:50 %>
					</p>
				</div>
			</div>
		</div>
		<div class="col card card-booking p-3">
			<%= simple_form_for [@weapon, @order] do |f| %>
			<p>
				<strong class="fs-5">
					<%= @weapon.price.to_i %>
					€
				</strong>
				 per day
			</p>
			<%#
			<%= f.input :start_date, as: :date, order: [:day,:month, :year] %>
			<%= f.input :start_date, as: :date,  html5: true, :label =>
			"#{@weapon.category} beginning", input_html: {class: "calendar"}%>
			<%= f.input :end_date, as: :date,  html5: true, :label =>
			"#{@weapon.category} End", input_html: {class: "calendar"}%>
			<%= f.input :comment, :label =>
			"Order comment", placeholder: "Do you need to add precisions or questions relative to your order  ?"%>
			<%#  Add some JS to display here the total_price %>
			<%#
			<%= f.input :total_price %>
			<%= f.submit "Order it ! ", class:"btn btn-primary"  %>
			<% end %>
      </div>
		</div>
	</div>

